.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .react-kanban-column {
    background-color: #0b546b;
    border-radius: 6px;
    color: whitesmoke;
  }

  .react-kanban-card-adder-button{
    color: white;
    /* border: none; */
  }

  .react-kanban-card-adder-button:hover{
      transition: ease 0.3s;
    background-color: #BA1A24;
    color: white;
    border-color:  #BA1A24;
  }
  
  .react-kanban-card {
    background-color: #1b909d;
    color: white;
    text-align: center;
    border-radius: 6px;

  }
  
  .react-kanban-card__title {
    font-size: large;
    border: none;
    text-align: center;
  }

  .react-kanban-card__description{
      text-align: left;
  }
  
  .react-kanban-card--dragging {
    transform: rotate(2deg);
    background-color: #084C61;
    color: white;
  }
  